@if (repos?.length) {
  <div class="repo-section">
    <h3>Your Repositories</h3>

    <div class="repo-list">
      @for (repo of repos; track repo.id) {

        <div class="repo-card card">
          <div class="repo-left">
            <div class="repo-title">
              <span class="repo-id">#{{ repo.id }}</span>
              <strong>{{ repo.fullName }}</strong>
            </div>

            <div class="repo-meta">
              <span class="badge badge-gray">Repository</span>
            </div>
          </div>

          <div class="repo-actions">
            <button class="view-btn" (click)="openCommits(repo.fullName)">
              View Commits
            </button>
          </div>
        </div>

      }
    </div>
  </div>
}

@if (repos && repos.length === 0) {
  <p class="no-repos">No repositories found.</p>
}
